<nav class="menuWrapper">
  <ul class="popover popover--menu">
    <li class="menu-avatar">
      <a href="/" class="brandLogo brandLogo--small
      {% if page.bgContrast == "light" %}
        brandLogo--black
      {% endif %}
      ">{{ site.name }}</a>
      <ul class="list" style="display: block; margin-top: 1.5em;">
        <li class="list-item"><a href="https://twitter.com/lulzwuutz"><img src="assets/images/twitter--black.svg" alt="twitter"></a></li>
        <li class="list-item"><a href="https://twitter.com/lulzwuutz"><img src="assets/images/twitter--black.svg" alt="twitter"></a></li>
        <li class="list-item"><a href="https://twitter.com/lulzwuutz"><img src="assets/images/twitter--black.svg" alt="twitter"></a></li>
        <li class="list-item"><a href="https://twitter.com/lulzwuutz"><img src="assets/images/twitter--black.svg" alt="twitter"></a></li>
      </ul>
      </ul>
    </li>
  </ul>
</nav>
