<nav role="navigation" class="sidebar sidebar--right">
  <a href="{{site.baseurl}}" class="textLogo textLogo--white textLogo--sidebar">{{ site.name }}</a>
        <ul style="margin-top: 0.5em; list-style: none; text-decoration: none; display: inline; margin-bottom: 0.5em;">
        <li style="position: absolute; padding-left: 2rem"><a href="https://vk.com/lulzwuut"><img src="assets/images/vk.svg" alt="vk"></a></li>
        <li style="position: absolute; padding-left: 3.5rem;"><a href="https://www.facebook.com/lulzwuut"><img width="22px" src="assets/images/facebook.svg" alt="facebook"></a></li>
        <li style="position: absolute; padding-left: 5rem;"><a href="https://www.linkedin.com/in/maxim-velli/"><img src="assets/images/linkedin.svg" alt="linkedin"></a></li>
        <li style="position: absolute; padding-left: 6.5rem;"><a href="https://www.behance.net/maxim-velli"><img src="assets/images/behance.svg" alt="behance"></a></li>
        <li style="position: absolute; padding-left: 8rem;"><a href="/about"><img src="assets/images/about.svg" alt="about"></a></li>
      </ul>
  <ul class="sidebar-recentPosts">
    {% for post in site.posts offset:0 limit:10 %}
      {% if post.title == page.title %}
        <!-- exclude current post -->
      {% else %}
      <li>
        {% if post.image.feature %}
          <a href="{{ post.url }}" class="sidebar-recentPosts-image-wrapper">
            <img src="{{ post.image.feature | prepend: site.baseurl_featured_thumbnail }}" style="" alt="">
          </a>
        {% endif %}
        <a href="{{ post.url }}">{{ post.title }}</a>
        <div class="postMeta">{{ post.date | date_to_string }}</div>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
