<!DOCTYPE html>
<html lang="en-us">
<!--<html lang="en-us" class="no-js">-->

  {% include head.html %}

  <body>
    {% if page.url != '/index.html' %}
      <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
      {% include sidebar-nav.html %}
      {% include menu.html %}
    {% endif %}

    {{ content }}

    {% if page.url != '/index.html' %}
      {% include sidebar-toggle.html %}
    {% endif %}

    {% if page.url == '/index.html' %}
  <!--    {% include subscribe.html %}
      {% include footer.html %} -->
    {% endif %}

    {% include footer-scripts.html %}
    <link rel="stylesheet" href="https://d1qmdf3vop2l07.cloudfront.net/gifted-pooch.cloudvent.net/compressed/_min_/fa21113032b77e3d7520244dffeee8c3.css" data-cms-original-href="/assets/css/lightbox.css">
    <script type="text/javascript" src="https://d1qmdf3vop2l07.cloudfront.net/gifted-pooch.cloudvent.net/compressed/_min_/b480d96403549ed69411e2e12c049023.js" data-cms-original-src="assets/javascripts/lightbox.js"></script>
  </body>
</html>
